{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">

                    <h3 class="mb-4">Email Verification</h3>

                    <span class="mb-0 text-muted">
                        
                        {% with messages=get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                        
                        {% for category,msg in messages %}
                        
                        <span class="text-{{category}}">{{ msg | safe }}</span>
                    
                        {% endfor %}
                        {% else %}
                            Register here !
                        {% endif %}
                        {% endwith %}


                    </span>

                    <br />
                    <br />

                    <form role="form" method="post" action="">
                        <div class="form-group col-md-12">
                            <input type="text" name="otp"  class="form-control" id="" placeholder="Enter o-t-p code">
                        </div>
                        <button type="submit" class="btn btn-primary shadow-2 mb-4">Verify email</button>

                    </form>

                    <p class="mb-0 text-muted">Already have an account? <a href="{{ url_for('login') }}" >Login</a></p>
                    
                    {% if config.SOCIAL_AUTH_GITHUB %}
                        <div class="mx-2">

                            <a href="{{url_for('authentication_blueprint.login_github')}}" class="btn">
                                <i class="feather icon-github auth-icon"></i>
                                
                            </a>
                            <br />
                            <span class="mx-2">Sign IN with GitHub</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
