{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Our Services</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Bookings</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Parcel Transportation</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Parcel Transport Booking Form</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5>Deliver your parcel with us here!</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form action="/parcel" method="POST" enctype="multipart/form-data">
                                                        <div class="row">
                                                            <input type="text" name="activity" value="Parcel_transport" hidden>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputLocation">Pick Up Location</label>
                                                                <input type="text" name="location" class="form-control" id="inputLocation" aria-describedby="locationHelp" placeholder="Enter Pick Up Location" required>

                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputDestination">Destination</label>
                                                                <select class="form-control" name="destination" id="inputDestination" placeholder="Enter Destination" required>
                                                                    <option selected>{{destination}}</option>
                                                                    <option value="Nairobi">Nairobi</option>
                                                                    <option value="Eldoret">Eldoret</option>
                                                                    <option value="Nakuru">Nakuru</option>
                                                                    <option value="Nyeri">Nyeri</option>
                                                                    <option value="Nyahururu">Nyahururu</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputNoSeats">Parcel Photo</label>
                                                                <input type="file" name="photo" class="form-control" id="inputNoSeats" aria-describedby="noSeatsHelp" placeholder="Enter Number of Seats" required>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="amount">Amount</label>
                                                                <input type="number" name="amount" class="form-control" id="amount" readonly>
                                                            </div>

                        
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Book Now</button>
                                                    </form>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <script>
        function updateAmount() {
            const selectElement = document.querySelector('select[name="destination"]');
            const destination = selectElement.value;
            let amount = '';
            if (destination) {
                amount = '600';
            }
            const amountElement = document.querySelector('input[name="amount"]');
            amountElement.value = amount;
        }
    
      
        document.querySelector('select[name="destination"]').addEventListener('change', updateAmount);
    
        updateAmount();
    </script>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
